@font-face {
    font-family: 'Int Circular PTT';
    src: url('IntCircularPTT-Medium.eot');
    src: url('IntCircularPTT-Medium.eot?#iefix') format('embedded-opentype'),
        url('IntCircularPTT-Medium.woff2') format('woff2'),
        url('IntCircularPTT-Medium.woff') format('woff'),
        url('IntCircularPTT-Medium.ttf') format('truetype'),
        url('IntCircularPTT-Medium.svg#IntCircularPTT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Int Circular PTT Book';
    src: url('IntCircularPTT-Book.eot');
    src: url('IntCircularPTT-Book.eot?#iefix') format('embedded-opentype'),
        url('IntCircularPTT-Book.woff2') format('woff2'),
        url('IntCircularPTT-Book.woff') format('woff'),
        url('IntCircularPTT-Book.ttf') format('truetype'),
        url('IntCircularPTT-Book.svg#IntCircularPTT-Book') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Int Circular PTT';
    src: url('IntCircularPTT-Light.eot');
    src: url('IntCircularPTT-Light.eot?#iefix') format('embedded-opentype'),
        url('IntCircularPTT-Light.woff2') format('woff2'),
        url('IntCircularPTT-Light.woff') format('woff'),
        url('IntCircularPTT-Light.ttf') format('truetype'),
        url('IntCircularPTT-Light.svg#IntCircularPTT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Int Circular PTT';
    src: url('IntCircularPTT-Black.eot');
    src: url('IntCircularPTT-Black.eot?#iefix') format('embedded-opentype'),
        url('IntCircularPTT-Black.woff2') format('woff2'),
        url('IntCircularPTT-Black.woff') format('woff'),
        url('IntCircularPTT-Black.ttf') format('truetype'),
        url('IntCircularPTT-Black.svg#IntCircularPTT-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Int Circular PTT';
    src: url('IntCircularPTT-Bold.eot');
    src: url('IntCircularPTT-Bold.eot?#iefix') format('embedded-opentype'),
        url('IntCircularPTT-Bold.woff2') format('woff2'),
        url('IntCircularPTT-Bold.woff') format('woff'),
        url('IntCircularPTT-Bold.ttf') format('truetype'),
        url('IntCircularPTT-Bold.svg#IntCircularPTT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Int Circular PTT';
    src: url('IntCircularPTT-Thin.eot');
    src: url('IntCircularPTT-Thin.eot?#iefix') format('embedded-opentype'),
        url('IntCircularPTT-Thin.woff2') format('woff2'),
        url('IntCircularPTT-Thin.woff') format('woff'),
        url('IntCircularPTT-Thin.ttf') format('truetype'),
        url('IntCircularPTT-Thin.svg#IntCircularPTT-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

