/*font Variables*/
/*Color Variables*/
body {
  line-height: 1.7;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #111314;
  background: #ffffff;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #14171f;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.slick-slide:focus {
  outline: none;
  box-shadow: none;
}

.slick-slide img {
  display: inline-block !important;
}

input:focus,
textarea:focus, select:focus {
  outline: none;
}

input {
  width: 100%;
  line-height: 48px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 5px;
  border: 1px none #000;
  background-color: transparent;
  color: #fff;
}

select {
  width: 100%;
  height: 48px;
  background-color: #3C4D8B;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0 15px;
}

textarea {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #263364;
  color: #fff;
  border-radius: 3px;
  height: 200px;
}

input::placeholder, textarea::placeholder {
  color: #A1A7BC;
  font-weight: 400;
}

button {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main Title Area css
============================================================================================ */
.section-title {
  margin-bottom: 30px;
}
.section-title h2 {
  font-size: 42px;
  margin-bottom: 15px;
}

.padding-top {
  padding-top: 120px;
}

.padding-bottom {
  padding-bottom: 120px;
}

/* Start Primary btns css
============================================================================================ */
.primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 14px 25px;
  border-radius: 6px;
  color: #ffffff;
  background: #203CA7;
  font-size: 1.125rem;
  font-weight: 700;
  transition: 0.3s;
}
.primary-btn img {
  margin-right: 10px;
}
.primary-btn i {
  margin-left: 10px;
  font-size: 14px;
  color: #FCC907;
}
.primary-btn:hover, .primary-btn.active {
  background: #0F1738;
  color: #ffffff;
}

/* gradient-bg css
============================================================================================ */
.gradient-bg {
  background: -webkit-linear-gradient(to right, #111314, #203CA7);
  background: -moz-linear-gradient(to right, #111314, #203CA7);
  background: -o-linear-gradient(to right, #111314, #203CA7);
  background: linear-gradient(to right, #111314, #203CA7);
}

/* animation delay css
============================================================================================ */
.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

.delay-10 {
  animation-delay: 1s;
}

.delay-11 {
  animation-delay: 1.1s;
}

.delay-12 {
  animation-delay: 1.2s;
}

.delay-13 {
  animation-delay: 1.3s;
}

.delay-14 {
  animation-delay: 1.4s;
}

.delay-15 {
  animation-delay: 1.5s;
}

/* Start Header area style
============================================================================================ */
.sticky-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}
.sticky-wrapper.is-sticky .header-area {
  background: #14171f;
}

.header-area {
  position: absolute;
  z-index: 999;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: rgba(20, 23, 31, 0.7);
  width: 100%;
  min-width: 100%;
  padding: 10px 0;
  top: 0;
  left: 0;
  right: 0;
}
.header-area .navbar-brand {
  margin-bottom: 0;
  margin-right: 60px;
}
.header-area .navbar-brand img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-area.active {
  box-shadow: 0 5px 10px rgba(221, 221, 221, 0.1019607843);
}
.header-area .navbar {
  background: transparent;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}
.header-area .navbar .navbar-brand {
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-area .navbar .navbar-nav .nav-item {
  margin-right: 35px;
}
.header-area .navbar .navbar-nav .nav-item a {
  position: relative;
  font-size: 16px;
  color: #ffffff;
  padding: 5px 10px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: capitalize;
}
.header-area .navbar .navbar-nav .nav-item:hover > a, .header-area .navbar .navbar-nav .nav-item a.active {
  color: rgb(252, 220, 101);
}
.header-area .navbar .header-btn-wrap {
  gap: 20px;
}
.header-area .navbar .header-btn-wrap .primary-btn {
  font-size: 16px;
  box-shadow: none;
  padding: 6px 20px;
}
.header-area .navbar .header-btn-wrap .primary-btn:hover {
  background: #ffffff;
  color: #14171f;
}

/* banner area style
============================================================================================ */
.banner-area {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 25%, transparent 92%), url("../img/bg/banner-bg.webp");
  height: 100vh;
  min-height: 830px;
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  -o-object-fit: fill;
  object-fit: fill;
  padding: 150px 0 40px;
}
.banner-area .banner-content h1 {
  margin-bottom: 20px;
  color: white;
  font-size: 3.125rem;
  line-height: 3.625rem;
  font-weight: 700;
}
.banner-area .banner-content p {
  max-width: 500px;
  color: #ffffff;
  font-size: 1.375rem;
  line-height: 2rem;
  margin-bottom: 25px;
}
.banner-area .banner-content .check-list {
  margin-bottom: 50px;
}
.banner-area .banner-content .banner-brands {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.banner-area .banner-content .banner-brands img {
  opacity: 0.8;
}

.check-list li {
  color: #ffffff;
  font-size: 1.375rem;
  line-height: 2rem;
  font-weight: 700;
  position: relative;
  padding-left: 30px;
}
.check-list li:not(:last-child) {
  margin-bottom: 10px;
}
.check-list li i {
  position: absolute;
  left: 0;
  color: #FCC907;
  font-size: 1rem;
  top: 8px;
}

/* service area style
============================================================================================ */
.service-area {
  padding: 50px 0;
}

.tab-wrap .nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-right: 10%;
  position: sticky;
  top: 100px;
}
.tab-wrap .nav .nav-link {
  border: 1px solid #101d51;
  color: #101d51;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 400;
  text-align: center;
  height: 78px;
}
.tab-wrap .nav .nav-link.active {
  border-color: #FCC907;
  background-color: #ffffff;
}
.tab-wrap .nav .nav-link:focus {
  border-width: 2px;
  border-color: #fcc907;
  background-color: #ffffff;
  box-shadow: 0 0 7px 0 rgba(252, 201, 7, 0.3);
}
.tab-wrap .nav .nav-link:hover {
  border-color: #FCC907;
}
.tab-wrap .tab-content-inner .thumbnail {
  border-radius: 10px;
  box-shadow: 7px 7px 20px 0 rgba(15, 23, 56, 0.3);
  margin-bottom: 30px;
}
.tab-wrap .tab-content-inner .title {
  color: #101d51;
  font-size: 1.7rem;
  line-height: 1.75rem;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}
.tab-wrap .tab-content-inner .title:before {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0px;
  transition: width 0.3s ease-in-out;
  background: #FCC907;
  content: "";
}
.tab-wrap .tab-content-inner .desc {
  font-size: 1.125rem;
  max-width: 530px;
  margin-bottom: 20px;
}
.tab-wrap .tab-content-inner .check-list {
  margin-bottom: 40px;
}
.tab-wrap .tab-content-inner .check-list li {
  color: #14171f;
}
.tab-wrap .tab-pane.active .title:before {
  transition-delay: 0.2s;
  width: 55px;
}

/* testimonial area style
============================================================================================ */
.testimonial-area {
  background: #0F1738;
  padding: 50px 0;
  overflow: hidden;
}

.testi-slider-wrap {
  margin: 0 -15px;
}
.testi-slider-wrap .slick-list {
  overflow: inherit;
  max-width: 764px;
}
.testi-slider-wrap .slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}

.single-testi-slider {
  background: #2E3A66;
  padding: 30px;
  border-radius: 10px;
  height: 100%;
}
.single-testi-slider .rating {
  color: #FCC907;
}
.single-testi-slider .msg {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.4rem;
}
.single-testi-slider .author-meta {
  display: flex;
  align-items: center;
}
.single-testi-slider .author-meta .author-image {
  height: 40px;
  width: 40px;
  min-width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.single-testi-slider .author-meta .author-meta-desc h5 {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 700;
}

.slider-navigations {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.slider-navigations .navigations-inner {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.slider-navigations .navigations-inner .slick-arrow {
  color: #ffffff;
  cursor: pointer;
  font-size: 40px;
}
.slider-navigations .navigations-inner .slider-dots-box, .slider-navigations .navigations-inner .slider-dots-box-portfolio {
  display: flex;
  align-items: center;
  margin: 0 25px;
}
.slider-navigations .navigations-inner .slider-dots-box .slick-dots, .slider-navigations .navigations-inner .slider-dots-box-portfolio .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
.slider-navigations .navigations-inner .slider-dots-box .slick-dots li, .slider-navigations .navigations-inner .slider-dots-box-portfolio .slick-dots li {
  display: flex;
  align-items: center;
}
.slider-navigations .navigations-inner .slider-dots-box .slick-dots li.slick-active button, .slider-navigations .navigations-inner .slider-dots-box-portfolio .slick-dots li.slick-active button {
  background: #ffffff;
}
.slider-navigations .navigations-inner .slider-dots-box .slick-dots li button, .slider-navigations .navigations-inner .slider-dots-box-portfolio .slick-dots li button {
  text-indent: -9999px;
  padding: 0;
  height: 12px;
  width: 12px;
  background: #6F7488;
  border-radius: 50%;
}

.testimonial-rating-brands {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 50px;
}
.testimonial-rating-brands .line {
  height: 40px;
  width: 1px;
  display: inline-block;
  background-color: hsla(0, 0%, 100%, 0.3);
}
.testimonial-rating-brands .single-testi-rating img {
  width: 100px;
}
@media (min-width: 991px) {
  .testimonial-rating-brands .single-testi-rating img {
    width: 130px;
  }
}

/* promise area style
============================================================================================ */
.promise-area {
  background: #FFF7D9;
  padding: 50px 0;
}
.promise-area .promise-thumb img {
  border-radius: 10px;
  box-shadow: 7px 7px 20px 0 rgba(15, 23, 56, 0.4);
}
.promise-area .promise-content h2 {
  margin-bottom: 10px;
  color: #14171f;
  font-size: 2.5rem;
  line-height: 2.9rem;
}
.promise-area .promise-content p {
  max-width: 460px;
  font-size: 1.125rem;
  line-height: 1.6rem;
}
.promise-area .promise-content img {
  max-width: 140px;
}
.promise-area .promise-content .meta-info h4 {
  color: #101d51;
  line-height: 1.4rem;
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 0;
}
.promise-area .promise-content .meta-info p {
  color: #646e96;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}

/* contact area style
============================================================================================ */
.contact-area {
  background: #F7F7F7;
  padding: 50px 0;
}

.contact-address .info-title {
  color: #14171f;
  font-size: 2.5rem;
  line-height: 2.9rem;
  margin-bottom: 50px;
}
.contact-address .single-contact-info {
  display: flex;
}
.contact-address .single-contact-info:not(:last-child) {
  margin-bottom: 10px;
}
.contact-address .single-contact-info .icon {
  width: 24px;
  min-width: 24px;
  margin-right: 15px;
}
.contact-address .single-contact-info .info-meta h4 {
  margin-bottom: 5px;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.contact-address .single-contact-info .info-meta p, .contact-address .single-contact-info .info-meta a {
  font-size: 1.125rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #111314;
}

.contact-form {
  border-radius: 10px;
  background-color: #101d51;
  box-shadow: 7px 7px 20px 0 rgba(15, 23, 56, 0.6);
  padding: 30px;
  text-align: center;
}
.contact-form .contact-title {
  font-size: 1.7rem;
  color: #ffffff;
}
.contact-form .form-group {
  display: flex;
  align-items: center;
  background: #263364;
  border-radius: 3px;
  padding: 0 15px;
  gap: 6px;
}
.contact-form .form-group.select-wrap {
  background: #3C4D8B;
  padding: 0;
  border-radius: 3px;
}
.contact-form .form-group.select-wrap select {
  width: 97%;
}
.contact-form .form-group.textarea-wrap {
  background: transparent;
  padding: 0;
}

/* Footer area css
============================================================================================ */
.footer-area {
  padding: 30px 0;
  background-color: #0f1738;
  text-align: center;
}
.footer-area .footer-logo {
  display: block;
  margin-bottom: 10px;
}
.footer-area h5 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 15px;
}
.footer-area__copyright {
  font-size: 0.875rem;
}

/*# sourceMappingURL=main.css.map */
